<div class="app-header">
  <header class="container ">

    <mat-toolbar>
      <div class="logo">
        <mat-icon>wb_sunny</mat-icon>
        <a routerLink="">Weather App</a>
      </div>

      <div class="right-links">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <button mat-icon-button
            class="example-icon favorite-icon">
            <mat-icon>home</mat-icon>
          </button></a>
        <a routerLink="weather" routerLinkActive="active"> <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>wb_sunny</mat-icon>
          </button></a>
        <a routerLink="signup" routerLinkActive="active"> <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>thumb_up</mat-icon>
          </button></a>
        <!-- <a routerLink="statistics" routerLinkActive="active"><button mat-icon-button class="example-icon">
            <mat-icon>show_chart</mat-icon>
          </button></a>
        <a routerLink="signup" routerLinkActive="active"><button mat-icon-button class="example-icon">
            <mat-icon>login</mat-icon>
          </button></a> -->
      </div>


    </mat-toolbar>
  </header>
</div>