.app-header {
  // height: 70px;
  margin: 0;
  width: 100%;

  header {
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    .mat-toolbar-single-row {
      // background: rgb(52, 160, 205);
      // background: linear-gradient(
      //   90deg,
      //   rgba(52, 160, 205, 1) 0%,
      //   rgba(88, 200, 193, 1) 100%
      // );
      background: #b2eaffdc;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          margin-left: 10px;
        }
      }
    }
    .mat nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}
