<div class="signup-page">
  <h1>Signup here!</h1>
  <form (ngSubmit)="onSaveUser()">
    <img src="./assets/img/profile.png" alt="">
    <label for="name">Enter your name</label>
    <mat-form-field appearance="">
      <mat-label for="name">Name</mat-label>
      <input autocomplete="off" [(ngModel)]="name" type="text" name="name" id="name" matInput>
    </mat-form-field>
    <button mat-raised-button>Sign-up</button>
  </form>
  <button mat-raised-button (click)="onSignout()">Sign-out</button>
</div>