.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(52, 160, 205);
  background: linear-gradient(180deg, #297fb9cd 0%, #6dd5fa 30%, #fff 100%);
  main {
    flex-grow: 1;
    > * {
      height: 100%;
    }
  }

  footer {
    height: 70px;
    background: #6dd4fa80;
    // background: linear-gradient(
    //   90deg,
    //   rgba(52, 160, 205, 1) 0%,
    //   rgba(88, 200, 193, 1) 100%
    // );

    // width: 100vw;
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
