<section class="weather-preview">
  <section class="info">
    <!-- <img src="./assets/img/user.png" alt=""> -->
    <!-- <img src="https://picsum.photos/200/300?random=1"> -->
    <!-- <img [src]="weather.imgUrl" alt=""> -->
    <p> {{weather.date}}</p>
    <!-- <p> {{weather._id}}</p> -->
    <p> {{weather.name}}</p>
    <p> {{weather.desc}}</p>
    <p> {{weather.temp}}</p>
    <!-- <p> {{weather.more}}</p> -->
    <!-- <p> {{weather.imgUrl}}</p> -->


  </section>
  <section (click)="$event.stopPropagation()" class="actions">
    <!-- <button mat-raised-button (click)="onRemove.emit(weather._id)" class="remove-btn">X</button> -->
  </section>
</section>